@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --primaryColor: #fff;
    --mainWhite: #fff;
    --offWhite: #f7f7f7;
    --mainBlack: #222;
    --mainGray: #757171;
    --mainBlue: #023e8a;
    --mainBrown: #6a040f;
    --darkGray: #e9ecef;
    --mainTransition: all 0.3s ease;
    --mainSpacing: 3px;
    --lightShadow: 0 4px 8px 0px rgba(0, 0, 0, 0.4);
    --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.2);
  }
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    width: 100%;
}
main {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 1.5rem;
}
h1 {
    font-size: 3em;
    line-height: 1;
    margin-bottom: 0.2em;
    font-weight: 400;
    text-align: center;
  }
  h2 {
      font-size: 1.6rem;
      font-weight: normal;
      color: var(--mainBlue);
  }
  hr {
      margin: 0.15rem;
  }
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin-top: 2rem;
}
.aside {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    position: fixed;
    top: 10rem;
    right: 0;
}
section {
    margin: 1rem;
    text-align: center;
}
/**Navigation*/
header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-shadow: var(--lightShadow);
    z-index: 100;
    background-color: var(--mainWhite);
    position: fixed;
    margin-bottom: 1rem;
}
nav {
    display: flex;
    align-items: center;
    margin: 0.5rem;
    width: 100%;
    font-size: 1.2rem;
}
img {
    width: 60%;
    border-radius: 50%;
    object-fit: cover;
    filter:drop-shadow(var(--darkShadow));
}
.links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: auto;
}
ul {
    list-style: none;
    display: flex;
}
li {
    margin: 0 1rem;
    padding: 0.5rem;
}
a {
    text-decoration: none;
    padding: 0 1rem;
    padding-bottom: 0.25rem;
    color: var(--mainGray);
    text-align: justify;
    transition: var(--mainTransition);
}
a:hover {
    font-weight: 500;
    color: black;
}
.active-link {
    font-weight: 500;
    color: black;
}

/**About*/
.intro {
    margin-top: 2.5rem;
}